/*선택자*/

#header-center {
    margin: 0 auto;
    width: 1080px;
}
#header-search h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -4px -4px;
    text-indent: 101%;
    overflow: hidden;
    background-repeat: no-repeat;
}
#header-search a {
    text-decoration: none;
}
#header-search > h2 {
    display: none;
}
#header-search fieldset {
    width: 521px;
    height: 49px;
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 12px 0 12px 10px;
    border: 2px solid #03cf5d;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}