/*선택자*/
* {
    box-sizing: border-box;
}
body, html { /* 바디, html은 기본적으로 있는 마진, 패딩이 있지만 없애자 */
    margin: 0;
    padding: 0;
}
.center-align { /* 가운데 정렬 */
    margin: 0 auto;
    width: 1080px;
}
#header-top {
    float: right; /* 오른쪽 정렬 but 형제 태그가 올라옴 -> 블록 포맷 컨텍스트로 감싸거나 형제 태그의 clear: both 나 right를 주자*/
}
#header-search {
    clear: right;
}
#header-top span {
    color: #888;
    letter-spacing: -1px; /* 글자사이 간격 = 자간 */
    font-size: 11px;
    line-height: 22px;
}
#header-logo { /* 네이버 로고 */
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -4px -4px;
    text-indent: 101%;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    top: -6px;
}
#header-search a { /* 네이버 로고 링크 */
    text-decoration: none;
}
#header-search > h2 { 
    display: none;
}
#header-search fieldset { /* 검색창 */
    width: 521px;
    height: 49px;
    display: inline-block;
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative; /* 검색 버튼의 컨테이닝 블록으로 만들기 위해 relative를 준 것 */
}
#header-search fieldset input { /* 검색 입력 */
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 405px;
    height: 23px;
}
#header-search fieldset button { /* 검색 버튼 */
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    vertical-align: middle;
    position: absolute; /* 버튼의 컨테이닝인 fieldset에 absolute로 딱 붙이기 */
    right: -2px;
    top: -2px;
}
#search-image { /* 검색 버튼 이미지 */
    width: 21px; /* 이미지 크기를 맞춤 */
    height: 21px;
    display: inline-block; /* inline이 기본이라 컨텐츠가 보이지 않으므로 변경 */
    margin: 14px; /* 21*21이미지는 검색 버튼과 크기가 다르므로 마진을 줘 딱 맞춤 */
    background-image: url(./sp_search.png);
    background-position: -4px -60px;
    background-repeat: no-repeat;
    /*
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    세로 가운데 정렬
    */
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
}
nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(./sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
}
nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}
nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}
nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}
nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}

nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
    width: 26px;
    background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}


.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}